x1html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}

/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

#body {
  height: auto !important;
  background-image: url(../img/mountains-3699372_1280.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	font-family: 'Montserrat';
	font-size: 22px;
  font-weight: 400;
	color:#000000;
  display: flex;
  justify-content: center;
  align-items: center;
    
}

#wrapper-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 800px;
  height: auto;
  border-radius: 9px;
  margin: 65px 140px;
  padding-bottom: 20px;
  color: #62639B;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.9;

}

#wrapper-form title {
  font-size: 24px;
  font-weight: 600;
  
}

#wrapper-form form {
  width: 350px;
  height: auto;
  margin-top: 10px;
}

#input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#input-group label {
  margin-bottom: 10px;
  color: #62639B;
}

#form-button button {
  width: 350px;
  height: 45px;
  background-color:#62639B;
  border-radius: 9px;
  border: 2px solid #62639B;
  color:white;
}

#info-text a {
    text-decoration: none;
    color: white;
    background-color: #62639B;
    padding: 4px 5px;
    border-radius: 3px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin: 0 auto;
  padding: 20px;
}

#wrapper #index-nav {
  width: 90%;
  height: auto;
  background-color: #62639B;
  padding: 5px;
  border-radius: 3px;
  border: 2px solid #62639B;
  text-align: center;
  opacity: 0.9;
}

#lenta {
  width: 90%;
  background-color: white;
  opacity: 0.9;
  padding: 20px;
  color: #62639B;
}

#author {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 10px; 
}

#author a {
  margin-right: 20px; 
  text-decoration: none;
  color: white;
  background-color: #62639B;
  padding: 3px 5px;
  border-radius: 3px;
  border: 2px solid #62639B;
}

#index-nav-item {
  margin-left: 20px;

}

#index-link {
  color: white;
}

#subscription-bth{
  color: white;
  background-color: #62639B;
  border: #62639B;
  padding: 4px 5px;
  border-radius: 3px;

}

.rating-buttons a{
  color: white;
  background-color: #62639B;
  text-decoration: none;
  padding: 4px 5px;
  border-radius: 3px;
  margin-right: 10px;

}

#detail-post-link a {
  text-decoration: none;
  color: white;
  background-color: #62639B;
  padding: 4px 5px;
  border-radius: 3px;

}

#top-info div {
  margin-top: 20px;
  margin-bottom: 20px;
}


#top-info div a {
  text-decoration: none;
  color: white;
  background-color: #62639B;
  padding: 4px 5px;
  border-radius: 3px;
}

#top-info #tags {
  display: inline;
}

#country p {
  line-height: 50px
}

#country a {
  text-decoration: none;
  color: white;
  background-color: #62639B;
  padding: 3px 3px;
  border-radius: 3px;
  margin-right: 2px;
}

#img {
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative; 
  margin: 20px 0; 
}

#img img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

#teg a {
  text-decoration: none;
  color: white;
  background-color: #62639B;
  padding: 3px 3px;
  border-radius: 3px;
  margin-right: 2px;
}

#lenta #poginator-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#poginator-button #current {
  margin-left: 10px;
  margin-right: 10px;
}

#poginator-button #step-links a {
  text-decoration: none;
  background-color: #62639B;
  color: white;
  padding: 3px 7px;
  border-radius: 3px;
  margin-left: 10px;
  
}

.button-container {
  display: flex; 
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 100%;
  justify-content: space-between; 
}

.button-container a {
  margin: 0 15px; 
  background-color: #62639B;
  opacity: 0.9;
  border-radius: 4px;
  border: 2px solid #62639B;

}
