#img {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
    margin: 20px 0; 
}

#img img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.button-container {
    display: flex; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 100%;
    justify-content: space-between; 
}

.button-container a {
    margin: 0 15px; 
    background-color: #62639B;
    opacity: 0.9;
    border-radius: 4px;
    border: 2px solid #62639B;

}






