#input-group input {
    width: 350px;
    height: 46px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    border: 0.5px solid #62639B;
    color: #62639B; 
    outline: none;
}

#form-button {
    margin-top: 15px;
    margin-bottom: 15px;
}


#checkbox-group {
    max-height: 70px; 
    overflow-y: auto;  
    padding: 10px; 
}

#checkbox-group input[type="checkbox"] {
    width: 15px; 
    height: 15px; 
    margin-right: 15px; 
}

#checkbox-group label {
    font-size: 16px; 
    line-height: 20px; 
}

#input-group textarea {
    width: 100%; 
    height: 150px; 
    padding: 10px; 
    border: 1px solid #62639B; 
    border-radius: 5px; 
    color: #62639B; 
    font-size: 16px; 
    resize: none    ; 
}

#input-group textarea:focus {
    border-color: #62639B; 
    outline: none; 
}







