#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin: 0 auto;
    padding: 20px;
}

#wrapper #index-nav {
    width: 90%;
    height: auto;
    background-color: #62639B;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid #62639B;
    text-align: center;
    opacity: 0.9;
}

#lenta {
    width: 90%;
    background-color: white;
    opacity: 0.9;
    padding: 20px;
    color: #62639B;
    
    
}

#author {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px; 
}

#author a {
    margin-right: 20px; 
    text-decoration: none;
    color: white;
    background-color: #62639B;
    padding: 3px 5px;
    border-radius: 3px;
    border: 2px solid #62639B;
}

#index-nav {
    display: flex;
    justify-content: flex-start;
}

#index-nav ul {
    width: 100%;
    display: flex;
    align-items: center;
}


#index-nav-item {
    margin-left: 10px;

}

#index-link {
    color: white;
}

.ml-auto {
    margin-left: auto;  
}

#img {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
    margin: 20px 0; 
}

#img img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.button-container {
    display: flex; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 100%;
    justify-content: space-between; 
}

.button-container a {
    margin: 0 15px; 
    background-color: #62639B;
    opacity: 0.9;
    border-radius: 4px;
    border: 2px solid #62639B;

}

#subscription-bth{
    color: white;
    background-color: #62639B;
    border: #62639B;
    padding: 4px 5px;
    border-radius: 3px;

}

.rating-buttons a{
    color: white;
    background-color: #62639B;
    text-decoration: none;
    padding: 4px 5px;
    border-radius: 3px;
    margin-right: 10px;

}

#detail-post-link a {
    text-decoration: none;
    color: white;
    background-color: #62639B;
    padding: 4px 5px;
    border-radius: 3px;

}


#country a {
    text-decoration: none;
    color: white;
    background-color: #62639B;
    padding: 3px 3px;
    border-radius: 3px;
    margin-right: 2px;
}

#next {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin: 0 auto;
    width: 90%;
    height: auto;
}

#next a {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #62639B;
    padding:5px 10px;
    width: 100%;
    height: auto;
    border-radius: 3px;
}




