#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 800px;
    height: 420px;
    border-radius: 9px;
    margin: 65px 140px;
    color: #121214;
    font-size: 18px;
    font-weight: 500;

}

#wrapper title {
    font-size: 24px;
    font-weight: 600;
}


#wrapper form {
    width: 350px;
    height: 300px;
    margin-top: 10px;
}

#input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#input-group label {
    margin-bottom: 10px;
}

#input-group input {
    width: 350px;
    height: 46px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    border: 0.5px solid #417893;
    color: #121214; 
    outline: none;
}

#form-button {
    margin-top: 32px;
}

#form-button button {
    width: 175px;
    height: 45px;
    background-color:#417893;
    border-radius: 9px;
    border: 2px solid #417893;
    color:white;
}



