#input-group input {
    width: 350px;
    height: 46px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    border: 0.5px solid #62639B;
    color: #62639B; 
    outline: none;
    padding-left: 10px;
    padding-right: 30px;
}

.input-username {
    position: relative; 
}

.input-username input {
    width: 100%;
    padding-right: 40px; 
}

.input-username input {
    background-image: url('../svg/user.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center; 
}


#form-button {
    margin-top: 32px;
}


.password-wrapper {
    position: relative; 
    display: flex;
    align-items: center;
}

#id_password {
    width: 100%;
    padding-right: 40px; 
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.toggle-password img {
    width: 20px;
    height: 20px;
}
