#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 800px;
    height: auto;
    border-radius: 9px;
    margin: 65px 140px;
    color: #62639B;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.9;

}

#wrapper title {
    font-size: 24px;
    font-weight: 600;
}

#wrapper form {
    width: 350px;
    height: auto;
    margin-top: 10px;
    
}

#input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

#input-group label {
    margin-bottom: 5px;
}

#input-group input {
    width: 350px;
    height: 46px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    border: 0.5px solid #62639B;
    color: #62639B; 
    outline: none;
}

#form-button {
    margin-top: 15px;
    margin-bottom: 15px;
}

#form-button button {
    width: 350px;
    height: 45px;
    background-color:#62639B;
    border-radius: 9px;
    border: 2px solid #62639B;
    color:white;
}

#checkbox-group {
    max-height: 100px; 
    overflow-y: auto;  
    padding: 10px; 
}

#checkbox-group input[type="checkbox"] {
    width: 15px; 
    height: 15px; 
    margin-right: 15px; 
}

#checkbox-group label {
    font-size: 16px; 
    line-height: 20px; 
}







