{% extends 'base.html' %}
{% block title %}login{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="title">
            <h1>Авторизация</h1>
        </div>
        
        <form method="post">
            {% csrf_token %}
            
            <div id="input-group" class="input-username">
                <label for="{{ form.username.id_for_label }}">Логин</label>
                    {{ form.username }}
            </div>
            
            <div id="input-group">
                <label for="{{ form.password.id_for_label }}">Пароль</label>
                <div class="password-wrapper">
                    {{ form.password }}
                    <span class="toggle-password"><img src="{% static 'svg/eye_closed.svg' %}" alt="Закрытый глаз"></span>
            
                </div>
            </div>
            {{ form.non_field_errors }}
            {% for field in form %}
                {% for error in field.errors %}
                <div class="error">{{ error }}</div>
                {% endfor %}
            {% endfor %}
            
            <div id="form-button">
                <button id="error-button" type="submit">Войти</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const passwordField = document.querySelector('#id_password');
        const togglePassword = document.querySelector('.toggle-password');

        togglePassword.addEventListener('click', function () {
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                togglePassword.innerHTML = '<img src="{% static "svg/eye_open.svg" %}" alt="Открытый глаз">';
            } else {
                passwordField.type = 'password';
                togglePassword.innerHTML = '<img src="{% static "svg/eye_closed.svg" %}" alt="Закрытый глаз">';
            }
        });
    });
</script>

{% endblock %}